.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    gap: 20rem;
    width: 100%;

    .title {
        font-size: 50px;
        font-family: var(--serif-font);

        .name_underline {
            position: relative;

            &::after {
                position: absolute;
                display: block;
                z-index: -1;

                content: "";

                background-size: cover;
                background-image: url("/underline.svg");
                background-repeat: no-repeat;
                background-size: 100% 100%;

                top: calc(100% - 0.15em);
                height: 0.3em;
                width: calc(100% + 0.4em);
                left: -0.2em;
            }
        }
    }
    .desc {
        margin-bottom: 25px;

        p {
            margin: 0;

            .links {
                font-family: var(--monospace-font);
                font-size: 16px;
                line-height: 25px;
                font-weight: 500;

                color: white;

                text-decoration-color: rgb(82, 82, 82);
                text-underline-offset: 2px;
            }
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* padding: 1rem;
        margin: 1rem; */

        .cta a.button {
            text-decoration: none;
            cursor: default;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            text-align: start;

            padding: 0.5rem 0.75rem;
            margin-right: 10px;


            background-color: rgb(10, 10, 10);
            border-color: var(--border-gray);
            border-style: solid;
            border-width: 2px;
            font-family: var(--monospace-font);

            svg {
                padding-left: 35px;
                height: 1.5em;
                width: 1.3em;
            }

            &:hover {
                color: rgba(255, 255, 255, 0.8);
                background-color: rgb(31, 31, 31);

                border-color: rgb(50, 50, 50);
                border-width: 1.5px;
            }
        }
    }
    .pfp {
        width: 200px;
        height: 200px;

        margin-top: 55px;
    }
}
