---
import { siteConfig } from "../site.config";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Github, Download } from "lucide-astro";
---

<BaseLayout meta={{ title: siteConfig.title, desc: siteConfig.desc }}>
    <!-- card -->
    <div class="hero">
        <div class="card">
            <h1 class="title">
                Hey,I'm <span class="name_underline">{siteConfig.author}</span>
            </h1>
            <div class="desc">
                <p>
                    A computer science student at <a
                        class="links"
                        href="https://pes.edu/">PESU</a
                    > & a fullstack developer.
                </p>
                <p>
                    Based in <a
                        class="links"
                        href="https://www.google.com/maps/place/Bengaluru,+Karnataka/"
                        >Bangalore,India</a
                    >
                </p>
            </div>
            <div class="cta">
                <a
                    data-umami-event="cta-btn"
                    data-umami-event-action="github"
                    class="button"
                    href=`https://github.com/${siteConfig.connect.github}`
                    >View Github<div><Github /></div></a
                >

                <a
                    data-umami-event="cta-btn"
                    data-umami-event-action="resume"
                    class="button"
                    href="/assets/resume.pdf"
                    >Read Resume<div><Download /></div></a
                >
            </div>
        </div>

        <img class="pfp" src="/favicon.png" alt="Astro Logo" />
    </div>
    <!-- empty card -->
    <div class="empty_space"></div>
    <div class="feed">
        <h2>Recent Posts</h2>
        <!-- <hr /> -->
        <ul>
            <li>
            <!-- <a href="/blog/test-page"> -->
                <div class="tags">
                    <a class="tag" href="/tags/tag1">#tag1</a>
                    <a class="tag" href="/tags/tag2">#tag2</a>
                    <a class="tag" href="/tags/tag3">#tag3</a>
                </div>
                <div class="snippet">
                    <h3>Post Title</h3>
                    <p>hello kitty</p>
                </div>
                <div class="metadata">
                    <span
                        ><svg
                            data-testid="geist-icon"
                            height="16"
                            stroke-linejoin="round"
                            viewBox="0 0 16 16"
                            width="16"
                            style="color: currentcolor;"
                            ><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M5.5 0.5V1.25V2H10.5V1.25V0.5H12V1.25V2H14H15.5V3.5V13.5C15.5 14.8807 14.3807 16 13 16H3C1.61929 16 0.5 14.8807 0.5 13.5V3.5V2H2H4V1.25V0.5H5.5ZM2 3.5H14V6H2V3.5ZM2 7.5V13.5C2 14.0523 2.44772 14.5 3 14.5H13C13.5523 14.5 14 14.0523 14 13.5V7.5H2Z"
                                fill="currentColor"></path></svg
                        > Jun 24, 2024</span
                    >

                    <span
                        ><svg
                            data-testid="geist-icon"
                            height="16"
                            stroke-linejoin="round"
                            viewBox="0 0 16 16"
                            width="16"
                            style="color: currentcolor;"
                            ><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M14.5 8C14.5 11.5899 11.5899 14.5 8 14.5C4.41015 14.5 1.5 11.5899 1.5 8C1.5 4.41015 4.41015 1.5 8 1.5C11.5899 1.5 14.5 4.41015 14.5 8ZM16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM8.75 4.75V4H7.25V4.75V7.875C7.25 8.18976 7.39819 8.48615 7.65 8.675L9.55 10.1L10.15 10.55L11.05 9.35L10.45 8.9L8.75 7.625V4.75Z"
                                fill="currentColor"></path></svg
                        >2 min read</span
                    >
                </div>
            <!-- </a>x`` -->
            </li>
            <a class="post" href="/blog/test-page">

            <li>
                <div class="tags">
                    <a class="tag" href="/tags/tag1">#tag1</a>
                    <a class="tag" href="/tags/tag2">#tag2</a>
                    <a class="tag" href="/tags/tag3">#tag3</a>
                </div>
                <div class="snippet">
                    <h3>Post Title</h3>
                    <p>bye kitty</p>
                </div>
                <div class="metadata">
                    <span
                        ><svg
                            data-testid="geist-icon"
                            height="16"
                            stroke-linejoin="round"
                            viewBox="0 0 16 16"
                            width="16"
                            style="color: currentcolor;"
                            ><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M5.5 0.5V1.25V2H10.5V1.25V0.5H12V1.25V2H14H15.5V3.5V13.5C15.5 14.8807 14.3807 16 13 16H3C1.61929 16 0.5 14.8807 0.5 13.5V3.5V2H2H4V1.25V0.5H5.5ZM2 3.5H14V6H2V3.5ZM2 7.5V13.5C2 14.0523 2.44772 14.5 3 14.5H13C13.5523 14.5 14 14.0523 14 13.5V7.5H2Z"
                                fill="currentColor"></path></svg
                        > Jan 2, 2025</span
                    >

                    <span
                        ><svg
                            data-testid="geist-icon"
                            height="16"
                            stroke-linejoin="round"
                            viewBox="0 0 16 16"
                            width="16"
                            style="color: currentcolor;"
                            ><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M14.5 8C14.5 11.5899 11.5899 14.5 8 14.5C4.41015 14.5 1.5 11.5899 1.5 8C1.5 4.41015 4.41015 1.5 8 1.5C11.5899 1.5 14.5 4.41015 14.5 8ZM16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM8.75 4.75V4H7.25V4.75V7.875C7.25 8.18976 7.39819 8.48615 7.65 8.675L9.55 10.1L10.15 10.55L11.05 9.35L10.45 8.9L8.75 7.625V4.75Z"
                                fill="currentColor"></path></svg
                        >1 min read</span
                    >
                </div>
            </li>
            </a>
        </ul>
    </div>
    <!-- <div class="empty_space"></div> -->
</BaseLayout>

<style>
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        gap: 15rem;
        padding-right: 5rem;
        width: 100%;

        .title {
            font-size: 50px;
            font-family: "Inter", var(--serif-font);

            .name_underline {
                position: relative;

                &::after {
                    position: absolute;
                    display: block;
                    z-index: -1;

                    content: "";

                    background-size: cover;
                    background-image: url("/underline.svg");
                    background-repeat: no-repeat;
                    background-size: 100% 100%;

                    top: calc(100% - 0.15em);
                    height: 0.3em;
                    width: calc(100% + 0.4em);
                    left: -0.2em;
                }
            }
        }
        .desc {
            margin-bottom: 25px;
        }
        .desc p {
            margin: 0;
            .links {
                color: white;
                font-weight: 500;
                font-family: var(--monospace-font);
                font-size: 16px;
                text-decoration-color: rgb(82, 82, 82);
                text-underline-offset: 2px;
                line-height: 25px;
            }
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 1rem;
            margin: 1rem;

            .cta a.button {
                text-decoration: none;
                cursor: default;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                color: white;
                text-align: start;

                padding: 0.5rem 0.75rem;

                background-color: rgb(10, 10, 10);
                border-color: var(--border-gray);
                border-style: solid;
                border-width: 1px;
                font-family: var(--monospace-font);

                svg {
                    padding-left: 35px;
                    height: 1.5em;
                    width: 1.3em;
                }

                &:hover {
                    background-color: rgb(31, 31, 31);
                    border-color: rgb(50, 50, 50);
                    color: rgba(255, 255, 255, 0.8);
                    border-width: 1.5px;

                    svg {
                        color: inherit;
                    }
                }
            }
        }
        .pfp {

            width: 200px;
            height: 200px;
            margin-top: 55px;
        }
    }
    .post {
        text-decoration: none;
        color: inherit;
    }
    .empty_space {
        height: 20vh;
    }
    .feed {
        padding: 0 13rem;
        h2 {
            margin-bottom: 10px;

            &:hover {

                color: rgba(255, 255, 255, 0.8);
                text-decoration: underline  rgba(255, 255, 255, 0.8);
                text-decoration-thickness: 1.5px;
                text-underline-offset: 5px;

            }
        }
        hr {
            margin: 0;
        }
    }

    .feed ul {

        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 16px;

        display: flex;
        flex-direction: column;
        /* column-gap: 64px; */
        row-gap: .4em;
        column-gap: 4rem;
        /* gap: 1rem; */

        li {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            border: 1px solid rgb(37, 37, 37);
            border-radius: 8px;
            padding: 1rem;
            &:hover {
                background-color: rgba(23, 23, 23, 0.3);
            }
            .tags {
                display: flex;
                margin-bottom: 16px;
                .tag {
                    margin-right:8px;
                    padding: 2px 6px;
                    color: white;
                    font-family: monospace;
                    font-size: 12px;
                    border-radius: 5px;
                    text-decoration: none;
                    color: rgb(161, 161, 161);
                    border: 1px solid rgb(37, 37, 37);
                    border-radius: 9999px;

                    &:hover {
                        color: white;
                        /* font-weight: 500; */
                        /* cursor:pointer; */
                    }
                }
            }

            .snippet {
                h3 {
                    font-size: 20px;
                    margin: 0;
                }
                p {
                    margin: 0;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    font-size: 14px;
                    color: rgb(161, 161, 170);
                }
            }

            .metadata {
                display: flex;
                span {
                    font-size: 0.8rem;
                    color: rgb(82, 82, 82);
                    font-family: var(--caption-font);
                    /* center svg and text */
                    display: inline-flex;
                    align-items: center;
                    /* gap: 0.5rem; */

                    &::after {
                        content: "";
                        margin: 0 0.3em;
                    }

                    svg {
                        margin-right: 0.5em;
                        height: 1em;
                    }
                }
            }
        }
    }
</style>
