---
import { siteConfig } from "../site.config";
import BaseLayout from "../layouts/BaseLayout.astro";
import Feed from "../components/Feed";
import Hero from "../components/Hero";
---

<BaseLayout meta={{ title: siteConfig.title, desc: siteConfig.desc }}>
    <div class="container">
        <Hero />
        <div class="empty_space"></div>
        <Feed client:load />
    </div>
</BaseLayout>

<style>
    .empty_space {
        height: 20vh;
    }
    .container {
        padding: 0 13rem;
    }
</style>
